
<h2>Lista de lecciones</h2>

{{#each this.less}}
<h3>{{nombre}}</h3>
<p>Nombre de la lección: {{nameLesson}}</p>
<p>Aprendizaje Esperado: {{aprendizajeE}}</p>
<p>Contenido: {{contenido}}</p>
<p>Grado: {{grado}}</p>
<p>Material didáctico: {{materialDidactico}}</p>
<hr>
<a href="/lecciones/{{id}}/lesson-update">Edit</a>
<hr>
<form action="/lecciones/{{id}}/delete" method="POST">
<button type="submit">Delete</button>
</form>
<hr>
{{/each}}