
<h1>PERFIL DE MAESTRO</h1>


<ul class="list-group">
  <h3>{{userInSession.nombre}}</h3>
  <li class="list-group-item">email: {{userInSession.email}}</li>
  <li class="list-group-item">Apellido Paterno: {{userInSession.apellidoPat}}</li>
  <li class="list-group-item">Apellido Materno: {{userInSession.apellidoMat}}</li>
  <li class="list-group-item">No de control: {{userInSession.noControl}}</li>
  <li class="list-group-item">Turno: {{userInSession.turno}}</li>
  <li class="list-group-item">Curp: {{userInSession.curp}}</li>
</ul>



 <form action="/lecciones" method="GET">
    <button>Lecciones</button>
  </form>
