<h1 class="text-danger">Perfil de Maestro.</h1>
<h6>Sí eres un alumno no podrás ver toda las funcionalidades.</h6>
<ul class="list-group">
  <h3 class="p-3 mb-2 bg-success text-white" >{{userInSession.nombre}}</h3>

  <li class="list-group-item list-group-item-primary">email: {{userInSession.email}}</li>
  <li class="list-group-item list-group-item-secondary">Apellido Paterno: {{userInSession.apellidoPat}}</li>
  <li class="list-group-item list-group-item-success">Apellido Materno: {{userInSession.apellidoMat}}</li>
  <li class="list-group-item list-group-item-danger">No de control: {{userInSession.noControl}}</li>
  <li class="list-group-item list-group-item-warning">Turno: {{userInSession.turno}}</li>
  <li class="list-group-item list-group-item-info">Curp: {{userInSession.curp}}</li>
  {{!-- <li class="list-group-item list-group-item-light">A simple light list group item</li>
  <li class="list-group-item list-group-item-dark">A simple dark list group item</li> --}}
{{!-- SE AGREGAN PARA FUTURAS INCORPORACIONES --}}
</ul>
<hr>

<form action="/lecciones" method="GET">
<button class="btn btn-danger">Mostrar lecciones</button>
</form>
<hr>

 <form action="/lecciones/create" method="GET">
<button class="btn btn-primary">Subir actividad</button>
</form>
<hr>
 <form action="/maestros-lista" method="GET">
<button class="btn btn-danger">Mostrar maestros</button>
</form>
