<h1>PERFIL DE USUARIO</h1>


<h3>{{userInSession.nombre}}</h3>
<p>email: {{userInSession.email}}</p>
<p>Apellido Paterno: {{userInSession.apellidoPat}}</p>
<p>Apellido Materno: {{userInSession.apellidoMat}}</p>
<p>No de control: {{userInSession.noControl}}</p>
<p>No de telefono: {{userInSession.telefono}}</p>
<p>Turno: {{userInSession.turno}}</p>
<p>Curp: {{userInSession.curp}}</p>
<hr>
</form>
